{{ $latest := first 1 (sort .RegularPages "Date" "desc") }}
{{ with index $latest 0 }}

<div class="mk-feature relative z-1 bg-zinc-900 {{ (index .Params.players 0).character }} text-white relative flex flex-col">
 
    {{ if .Params.reel }}
        {{ partial "atoms/reel" . }}
    {{ end }}
    
    <div class="container relative z-1 min-h-[600px] mx-auto max-w-7xl flex flex-col md:flex-row">

        {{/*  TODO: Redesign  */}}
        <div class="mk-event w-[40%]">
            {{ partial "molecules/event" . }}
        </div>

        <div class="mk-participants w-full md:w-[60%] flex items-center  relative ">
            {{ partial "molecules/participants" . }}
        </div>
    
    </div>

</div>

{{ end }}