@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import "colors";
@import "utility";

@font-face {
  font-family: 'MarioKart';
  src: local('mario_kart'),
  url("mario_kart.ttf") format("truetype");
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mk-champs {

  header {
    background-color: $black;
    padding: 1rem;

    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      color: $white;
      font-family: 'MarioKart',  'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  .list {
    flex: 1 1 auto;
    width: 100%;
    border-left: 1px solid $gray;

     @media screen and (min-width: map_get($breakpoints, 'md')) {
      width: 50%;
    }

    @media screen and (min-width: map_get($breakpoints, 'lg')) {
      width: 30%;
    }

    @each $color, $hex in $colors {
      &.#{$color} {
        background-color: rgba($hex, .10);
        border: 0;

        .race {
          color: scale-color($hex, $lightness: -30%);
        }
        
        .player { border-top-color:rgba($hex, .2); }
      }


    }

  }

  .item {
    margin: 1rem 0;

    .race {
      padding: 0.25rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1rem ;

      h2 {
        padding: 0;
        margin: 0;
        // font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }

    ul.players {
      margin: 0rem;
      padding: 0;
      list-style: none;

      .player {

        &.winner, &.placeholder:first-child {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem 0;
          border-top: 0;

          .name {
            font-size: 1.75rem;
            font-weight: bold;
            color: $white;
            width: auto;
            display: inline-block;
            margin: .5rem 0;
                        
            &::before {
              content: '👑';
              margin-right: .5rem;
            }
          }

          .portrait {
            display: inline-block;
            border-radius: 50%;
            background: $white;
            border: 5px solid $white;
            padding: 1rem;
            width: auto;

            img {
              max-height: 100px;
            }
          }

          .place {
            display: none;
          }
        }

        &.placeholder:first-child {
          .name {
            color: $black;
            &::before {
              display: none;
            }
          }
        }
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        border-top-width: 1px;
        border-top-style: solid;

        &.placeholder {
          border-color: $gray;
        }

        span {
          display: block;

          &.portrait {
            width: 50px;
          }
          &.name {
            width: 75%;
          }
        }

        .portrait {
          img {
            max-height: 50px;
          }
        }
      }
    }
  }
  
}