@import "_characters";

// Overrides
.losers {
    @media (min-width: 768px) { 
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
     }

}


.race  {
    &:hover {
        .hover-bounce {
            animation: bounce .7s;
        }

        // .hover-fade-slide {
        //     animation: fadeInUp .7s;
        // }
        .hover-slide {
            transform: translate(0, 0) !important;
        }
    }

    .players {
        li:nth-child(2) .position { animation-delay: .2s; }
        li:nth-child(3) .position { animation-delay: .3s; }
        li:nth-child(4) .position { animation-delay: .4s; }

        // li:nth-child(2) .combo { transition-delay: .2s; }
        // li:nth-child(3) .combo { transition-delay: .3s; }
        // li:nth-child(4) .combo { transition-delay: .4s; }

        li:not(.winner) {
            .name {
                transform: translate(0, .5rem);
                transition: all;
                transition-duration: .5s;
            }
        }

        .combo {
            transform: translate(0, .5rem);
            transition: all;
            transition-duration: .5s;
        }
    }
}
    