@import "_characters";

// .losers {
//     @media (min-width: 768px) { 
//         clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
//      }
// }

.feature {
    @media (min-width: 768px) { 
        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            background: $white ;
            position: absolute;
            top:0;
            right:0;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
            // clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            // clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
        }
    }
}

.race  {
    &:hover {
        .hover-bounce {
            animation: bounce .7s;
        }

        // .hover-fade-slide {
        //     animation: fadeInUp .7s;
        // }
        .hover-slide {
            transform: translate(0, 0) !important;
        }
    }

    .players {
        li:nth-child(2) .position { animation-delay: .2s; }
        li:nth-child(3) .position { animation-delay: .3s; }
        li:nth-child(4) .position { animation-delay: .4s; }

        // li:nth-child(2) .combo { transition-delay: .2s; }
        // li:nth-child(3) .combo { transition-delay: .3s; }
        // li:nth-child(4) .combo { transition-delay: .4s; }

        li:not(.winner) {
            .name {
                transform: translate(0, .5rem);
                transition: all;
                transition-duration: .5s;
            }
        }

        .combo {
            transform: translate(0, .5rem);
            transition: all;
            transition-duration: .5s;
        }
    }
}
    