<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Mario Kart Champion</title>
        
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <!-- Styles & Scripts -->
        {{ $style := resources.Get "/sass/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">

        {{/*  {{ $js := resources.Get "/js/main.js"}}
        <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>  */}}

    </head>

    <body>