{{ $winningCharacter := index (where .Params.players "placement" 1) 0 "character" }}

<div class="race {{ $winningCharacter }} group mb-10 w-full shadow-md transition duration-300 ease-in-out hover:md:scale-110">

    <div class="race-info flex justify-between items-center px-5 py-2.5 text-white border-b-1 border-gray-50/30">
        <div class="meta">
            <div class="text-lg">{{ .Title }}</div>
            <div class="text-xs">{{ .Date | time.Format ":date_medium" }}</div>
        </div>
        
        <ul class="tags">
            <li class="inline-block"><span class="rounded-full border border-gray-50 px-2.5 py-0.5 text-xs whitespace-nowrap uppercase">{{ .Params.game }}</span></li>
            <li class="inline-block"><span class="rounded-full border border-gray-50 px-2.5 py-0.5 text-xs whitespace-nowrap uppercase">{{ .Params.mode  }}</span></li>
        </ul>
    </div>

    <ul class="players pb-2.5">

    {{ $gameVersion := .Params.game }}
    {{ range sort .Params.players "placement" "asc" }}

        <li class="{{ if eq .placement 1 }}winner {{ .character}} p-10 flex-col {{ else }} px-5 py-2.5 bg-gray-50 {{ end }} flex items-center justify-self-center-safe">
           
            <span class="portrait {{ if eq .placement 1 }} w-48 h-48 rounded-full bg-gray-50 border-8 border-gray-50 flex block {{ else }} w-15 inline-block {{ end}}">
                {{ $characterName := .character | humanize | title }}
                <img class="mx-auto self-center" src="images/{{ $gameVersion }}/portrait/{{ .character}}.png" alt="{{ $characterName }}" />
            </span>

            <span class="inline-block px-2.5 {{ if eq .placement 1 }} w-full text-white mt-5 {{ else }} w-70 {{ end}}">
                <span class="name block {{ if eq .placement 1 }} text-center text-3xl {{ else }} text-start {{ end}}">{{ .name }}</span>
                <span class="combo block invisible opacity-0 text-xs group-hover:visible group-hover:opacity-100 transition-opacity delay-300 duration-300 ease-in-out {{ if eq .placement 1 }} text-center text-3xl {{ else }} text-start {{ end}}">
                    {{ range $i, $combo := .combo }}
                        {{ if eq $i 0 }}
                            {{ $combo }}
                        {{ else }}
                            | {{ $combo }}
                        {{ end }}
                    {{ end }}
                </span>
             </span>

            <span class="position text-end {{ if eq .placement 1 }} hidden {{ else }} inline-block w-15 {{ end}}"> 
                {{ $position := .placement}}
                {{ $suffix := "" }}

                {{ if eq $position 1 }}
                {{ $suffix = "st" }}
                {{ else if eq $position 2 }}
                {{ $suffix = "nd" }}
                {{ else if eq $position 3 }}
                {{ $suffix = "rd" }}
                {{ else }}
                {{ $suffix = "th" }}
                {{ end }}

                {{ printf "%d%s" $position $suffix }}
            </span>
        </li>
    {{ end }}
    </ul>
</div>