{{ $game_version := .Params.game }}

<div class="race-winner">
 
    {{ $reigning_champ := first 1 (sort .Params.players "position" "asc") }}
    {{ with index $reigning_champ 0 }}

    {{ partial "atoms/portrait" (dict "context" . 
        "gamePath" $game_version
        "classes" "w-48 h-48 rounded-full bg-gray-50 border-8 border-gray-50 flex block"
        "conditional" ""
    ) }}

    <span class="block px-2.5 w-full text-white text-center mt-5">
        {{ partial "atoms/name" ( dict "context" .
            "classes" "block font-bold text-3xl"
            "conditional" ""
        ) }}
        {{ partial "atoms/combo" (dict "context" . "classes" "combo block text-xs") }}
    </span>
    
    <span class="position text-end w-25"> 
       {{ partial "atoms/position.html" . }}
    </span>
    
    {{ end }}
</div>