{{ $game_version := .Params.game }}

<div class="mk-race-info text-shadow-lg mx-10 xl:mx-0 mb-5">
    
    <div class="border-b-2 border-gray-50 py-5">
        {{ partial "atoms/meta" (dict "context" . 
            "classes_title" "text-5xl font-bold" 
            "classes_date" "text-lg"
        ) }}
        <span class="text-md">{{ .Params.description }}</span>
    </div>

    <div class="my-5">
        {{ partial "atoms/tags" (dict "context" .
            "classes" "rounded-full border border-gray-50 px-5 py-1 text-md whitespace-nowrap uppercase"
        ) }}
    </div>

</div>