{{/*  TODO: Randomized hero art  */}}

<div class="mk-hero-art invisible lg:visible ">
    <div class="mk-art-1 absolute z-10 top-0 w-50 m-10 animate__animated animate__fadeInUp"><img loading="lazy"  src="images/art/donkey-kong.webp"></div>
    <div class="mk-art-2 absolute z-20 top-[2rem] right-0 w-50 xl:w-60 m-10 animate__animated animate__fadeInUp"><img loading="lazy"  src="images/art/toad.webp"></div>
    <div class="mk-art-3 absolute z-30 invisible lg:visible lg:transition lg:duration-300 w-80 xl:w-100 m-10 -translate-x-0 xl:-translate-x-40 -translate-y-0 xl:-translate-y-5 animate__animated animate__fadeInUp"><img loading="lazy" src="images/art/yoshi.webp"></div>
</div>