{{/*  TODO: Randomized hero art  */}}

<div class="mk-hero-art invisible lg:visible ">
    <div class="mk-art-1 absolute z-10 top-0 w-50 m-10"><img src="images/art/donkey-kong.png"></div>
    <div class="mk-art-2 absolute z-20 top-[2rem] right-0 w-50 xl:w-60 m-10"><img src="images/art/toad.png"></div>
    <div class="mk-art-3 absolute z-30 invisible lg:visible w-80 xl:w-100 m-10 -translate-x-0 xl:-translate-x-40 -translate-y-0 xl:-translate-y-5"><img src="images/art/yoshi.png"></div>
</div>