{{ $ext := strings.TrimPrefix "." (path.Ext .Params.reel) }}

{{/*  TODO: Accessibility pause button for video */}}

{{ if eq $ext "mp4" }}
    <div class="mk-hero-video absolute w-full md:w-1/2 lg:w-2/3 xl:w-3/4 xxl:w-full">
        <video autoplay loop muted disablePictureInPicture class="relative inset-0 w-full h-[600px] object-cover sepia-25">
            <source src="{{ .Params.reel }}" type="video/mp4">
        </video>
    </div>
{{ else }}
    <img class="mk-hero-image object-cover absolute inset-0 w-full h-[600px]" src="{{ .Params.reel }}" />
{{ end }}